@model Desafio_Attributor.Models.Infos
<!--Arquivo css da view Contact-->
<link href="~/App_Themes/Tema2/Contact.css" rel="stylesheet" />

<!--Passando o titulo para a view-->
<div class="title">
    @{
        ViewBag.Title = "Info";
    }
</div>

<!--Informações do desenvolvedor-->
<div class="dev">
    <img src="http://media.hollywood.com/images/l/Drew-Struzan-et.jpg" alt="Avatar" class="avatar" />
    <h1>Marcelle Manhães Gaio Filardi</h1>
    <p class="grad">3° ano - Engenharia de Computação</p>
</div>

<div class="infos">
    <h3>Faculdade: @Model.Faculdade </h3>
    <h3>Empresa: @Model.Empresa </h3>
</div>

<!--Botão para o GitHub-->
<div class="button">
    <button type="button" class="btn btn btn-lg" id="github" onclick="location.href = 'https://github.com/mfilardi3/Desafio_Attributor';">GitHub</button>
</div>